.App{
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-image: url('../public/assets/M-Hostel.jpg');
}
.AppMain {
  text-align: center;
  display: flex;
  min-height: 88.6vh;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  color: white;
}

.Head{
  text-align: center;
  overflow-y: hidden;
  color: white;
  background-color: rgb(79, 0, 0);
  border-radius: 0vh 0 2.5vh 2.5vh;
  
}