
.full_page_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url('../../../public/assets/M-Hostel_bw.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden; 
    padding-bottom: 0px;
  }
  
  .auth-form-container {
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.858);
    border-radius: 40px;
    padding: 30px;
  }
  
  .auth-form-container h2 {
    color: white;
  }
  
  .auth-form-container label {
    font-size: 18px;
    color: white;
  }
  
  .auth-form-container input {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .auth-form-container button {
    background-color: rgb(129, 0, 0);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    font-size: 18px;
    margin: auto; 
    display: block; 
  }
  
  .auth-form-container span {
    color: white;
    margin: auto; 
    text-align: center; 
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .auth-form-container {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .full_page_container {
      padding: 20px;
      box-sizing: border-box; 
  
    }
  
    .auth-form-container {
      height: auto;
      padding: 20px;
    }
  
    .auth-form-container h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .auth-form-container label,
    .auth-form-container input,
    .auth-form-container button,
    .auth-form-container span {
      font-size: 16px;
    }
  
    .auth-form-container button {
      width: 100%;
    }
  }
  