.auth-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid rgb(56, 0, 0);
      border-radius: 5vh;
      margin: 0.5rem;
      background-color: rgba(0, 0, 0, 0.858);
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  
  button {
    border: none;
    background-color: rgb(129, 0, 0);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }